# Candidate configuration
CANDIDATE_RESUME="Fullstack Developer, NestJS, TypeScript, React, Trainee/Junior/Strong Junior"
JOB_FILTERS="Sava only remote vacancies"
SEARCH_KEYWORD="Node.js Developer"
NOTIFY_ON_HARDCODED_SELECTORS_FAIL=false # true/false

# Scoring and automation thresholds
MIN_SCORE=6 # Minimal score needed to send notification to gmail 
SEARCH_CRON="0 * * * *" # Every hour
REQUEST_DELAY_MS=15000
ENABLE_AUTO_SEARCH=true # true/false to enable or disable automatic search based on SEARCH_CRON schedule

# Browser and scraping configuration
BROWSER_USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
MAX_SEARCH_PAGES=999 # Amount of pages 
JOB_SITES="robota.ua,dou.ua,djinni.co" # Domains of sites that will be fetched

# Content extraction limits
MAX_PARSER_LENGTH=5000

# AI/LLM Connection parameters
AI_MODEL_NAME=compound-beta

# Telegram Bot configuration
TG_BOT_ENABLED=true # true/false to enable or disable Telegram bot to only fetch jobs or also initialize Telegram bot
TG_BOT_ADMINS_ONLY=true # If true, only admin (you) can use the bot, else - all users can use the bot. TG_BOT_ADMIN_IDS is set in .env variable 